<?xml version="1.0" encoding="UTF-8"?>

<document>
	<config type="testConfig" name="MIS">
		<stories>
			 <!--  <story>MnetJDAIntegration</story> -->
			  <story>MIS-8</story>
		</stories>

		<datasetupstoryscenario>
		</datasetupstoryscenario>

		<datasetupscenarioiteration>
		</datasetupscenarioiteration>

		<metafiltetrs>
			<metafiltetrFLag>N</metafiltetrFLag>
			 <metafiltetr>+regression , +acceptance </metafiltetr> 
			
		</metafiltetrs>

		<datasetupflag>
			<suitelevel>N</suitelevel>
			<storylevel>N</storylevel>
			<storyscenariolevel>N</storyscenariolevel>
			<storyscenarioiterationlevel>N</storyscenarioiterationlevel>
		</datasetupflag>

		<testdatainputtables>
			<tablename>AUTO_DATA_INPUT</tablename>
		</testdatainputtables>
		<testdataoutputtables>
			<tablename>AUTO_DATA_OUTPUT</tablename>
		</testdataoutputtables>

		<testData>
			<orderPrefix />
			<facilityAliasId>44</facilityAliasId>
			<prodStatInInv>71</prodStatInInv>
		</testData>
	<jirareportstab>QA_Test</jirareportstab>
	
	</config>
</document>